.chavePix{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font-size: 10px;
   margin-bottom: 8px;
}

.botao-pix{
    padding:5px 10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.botao-pix:hover{
    background: linear-gradient(to left, rgb(216, 76, 76), rgb(255, 187, 0));
}

.containerNotification{
  display:flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  right:20px;
  top:20px;
  z-index:9999;

}
.cardNotification{
text-align: center;
background-color: green;
padding:12px 8px;
border-radius: 8px;
color:white;
font-weight: 600;
}