

.imgBebida{
 max-width: 40%;
 object-fit:cover;
border-radius: 10px;
background-position: center;
box-shadow: 2px 2px 10px rgb(90, 86, 86);

}

.imgBurguer{
 max-width: 40%;
 object-fit:cover;
border-radius: 10px;
background-position: center;
box-shadow: 2px 2px 10px rgb(90, 86, 86);
}

