

.imgBebida{
max-width: 30%;
border-radius: 30%;
object-fit:cover;
background-position: center;
box-shadow: 2px 2px 10px rgb(90, 86, 86);

}

.imgBurguer{
 max-width: 40%;
 object-fit:cover;
border-radius: 30%;
background-position: center;
box-shadow: 2px 2px 10px rgb(90, 86, 86);
}

