

.imgBebida{
max-width: 25%;
border-radius: 30%;
margin-right: 10px;
background-position: center;
box-shadow: 2px 2px 10px rgb(90, 86, 86);

}

.imgBurguer{
 max-width: 25%;
border-radius: 30%;
margin-right: 10px;
background-position: center;
box-shadow: 2px 2px 10px rgb(90, 86, 86);
}