
/* Frase de horário de atendimento */
.subtitleAtendimento{
 
  display: flex;
  justify-content: left;
  margin-top: 12px;
}
@media screen  and (max-width: 576px) {
  .subtitleAtendimento{
    display: flex;
    font-size: 12px;
    justify-content: left;
   margin-top: 45px;

  }
  
}


.frasebAbencoada{
  font-size: 10px;
  position: absolute;
  right:20px;
  top:80%;

  
}
.frasebAbencoada:hover{
color: rgb(151, 151, 236);
}