.item_novo{
    color: #D92517;
    border: 2px solid #FF6B01;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    animation: pulse 1.5s infinite;
}
.item_em_dobro{
    color: #D92517;
    animation: pulseTexto 1s infinite;
   font-weight: bold;
   display: inline-block; /**Para permitir a animação , porque spans nao conseguem animar*/
}

@keyframes pulse {
    0%{
transform: scale(1); /* Tamanho inicial */
    }
    50%{
transform: scale(1.1); /* Aumenta o tamanho */
    }
    100%{
transform: scale(1); /* Retorna ao tamanho original */
    }
}

@keyframes pulseTexto {
    0%{
transform: scale(1); /* Tamanho inicial */
    }
    50%{
transform: scale(1.1); /* Aumenta o tamanho */
    }
    100%{
transform: scale(1); /* Retorna ao tamanho original */
    }
}

.indisponivel {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

.indisponivel::after {
    content: 'Item Indisponível';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.embreve{
text-align:"center";
font-weight: "bold";  
margin: 5px;
}
