.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #582814;
    color: #fff;
    text-align: center;
    font-size: 10px;
    bottom: 0;
    left: 0;
    gap: 8px;
    margin: 40px auto;
    border-radius: 8px;
    width: 80%;
    height:100%;
}
@media (max-width: 600px) {
    .rodape {
       margin-top: 100px;
     
    }
}
.rodape a{
    text-decoration: none;
    color: rgb(237, 237, 241);
}
.rodape a:hover{
    color:rgb(68, 173, 221);
}
i{
    margin: 3px;
}

.rodape .linkInsta:hover {
    color:#9943B7;
}